@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    background-color: black;
}

header nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 12;
}

.navbar {
    width: 90%;
    display: flex;
    margin: 20px auto 0 auto;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: flex-end;
}

nav .menu {
    display: flex;
}

nav .menu li {
    list-style: none;
    margin: 0 10px;
}

nav .menu a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

nav .menu a:hover {
    text-decoration: underline;
    text-decoration-color: #62bffb;
}

.header-content {
    height: 100vh;
    width: 100%;
    background: url("../img/SpaceBackground.png") no-repeat;
    background-position: top center;
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-size: cover;
    position: relative;
}

.header-text {
    position: absolute;
    top: 33%;
    left: 7%;
    z-index: 12;
}

.header-text .greeting {
    font-size: 27px;
    color: white;
}

.header-text .name {
    color: white;
    font-size: 75px;
    font-weight: 600;
    margin: -20px 0 0 -3px;
}

.header-text span {
    color: white;
    font-size: 40px;
    margin: 5px 0;
    margin-top: -4px;
}

.header-text .typing-text {
    color: #62bffb;
}

.header-text .intro {
    font-size: 15px;
    color: #f0f0f0;
    margin-top: 10px;
}

.angle-down-icon {
    text-align: center;
    margin-top: 20px;
}

.angle-down-icon a {
    text-decoration: none;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.angle-down-icon a i {
    font-size: 30px;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.angle-down-icon a span {
    font-size: 18px;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.social-icons a {
    margin-top: 8px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.7;
    color: white;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    opacity: 1;
}

.about-me {
    background-color: #000;
    /*padding: 50px 0;*/
    /*background-color: red;*/
    /*border-radius: 64px;*/
    /*padding: 60px 50px;*/
    /*margin-top: -60px;*/
    /*max-width: 85%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.about-me-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: white;*/
}

.about-me-title {
    text-align: center; /* Center the title */
    font-size: 24px;
    margin-bottom: 20px; /* Add spacing between title and text */
}

.about-me-left {
    flex: 1;
    padding: 20px;
    /*background-color: magenta;*/
    margin-bottom: 50px;
}

.about-me-left img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.about-me-right {
    flex: 1;
    padding: 20px;
    text-align: left;
    /*background-color: purple;*/
}

.about-me-right h2 {
    margin-bottom: 20px;
    color: #62bffb;
    font-size: 30px;
    font-weight: bold;
}

.about-me-summary {
    padding-top: 10px;
    font-size: 18px;
    line-height: 1.6;
    color: #f0f0f0;
    text-align: center;
}

/* Style for the skill cards */
.skills-section {
    text-align: center;
    padding: 40px 0;
    /*background-color: red;*/
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.skills-section h2 {
    font-size: 30px;
    font-weight: bold;
    color: #62bffb;
}

.skill-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-card {
    flex-basis: calc(25% - 20px);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.skill-icon {
    font-size: 36px;
    color: #333;
    margin-bottom: 15px;
}

.skill-card h3 {
    font-size: 20px;
    color: #333;
    margin-top: 0;
}

.skill-card p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

.projects-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    /*background-color: pink;*/
    margin-bottom: 50px;
}

.project-header {
    margin-top: 100px;
}

.project-header h2 {
    font-size: 30px;
    font-weight: bold;
    color: #62bffb;
    margin-bottom: 20px;
    text-align: center;
}

.projects-container .card {
    position: relative;
    max-width: 400px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    align-items: center;
}

.projects-container .card:hover {
    height: 300px;
}

.projects-container .card .image {
    position: relative;
    width: 300px;
    height: 300px;
    top: -30%;
    z-index: 1;
}

.projects-container .card .image img {
    max-width: 100%;
    border-radius: 15px;
    max-height: 200px;
}

.projects-container .card .content {
    position: relative;
    top: -100px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.projects-container .card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.line {
    border-top: 4px solid #62bffb;
    height: 10px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

.project-header .line {
    margin-top: -10px;
}

.about-me-right .line {
    margin-top: -10px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /*background-color: orange;*/
}

.connect {
    margin-bottom: 20px;
}

.connect h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.connect ul {
    font-size: 25px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.connect li {
    margin-right: 10px;
    margin-left: 10px;
}

.connect a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.connect a:hover {
    opacity: 1;
}

.copyright {
    font-size: 14px;
}