@media (max-width: 768px) {
    .navbar {
        justify-content: center; /* Center-align the navigation items */
    }

    .menu {
        /*flex-direction: column; !* Stack menu items vertically on small screens *!*/
        text-align: center; /* Center-align menu items */
    }

    .menu li {
        margin: 10px 0; /* Add spacing between menu items vertically */
    }

    .header-text {
        top: 25%;
        left: 5%;
    }

    .header-text .greeting {
        font-size: 20px;
    }

    .header-text .name {
        font-size: 50px;
    }

    .header-text span {
        font-size: 30px;
    }

    .angle-down-icon {
        margin-top: 10px;
    }

    .angle-down-icon a i {
        font-size: 20px;
    }

    .angle-down-icon a span {
        font-size: 14px;
    }

    /* Adjust social icons positioning */
    .social-icons {
        right: 20px;
        bottom: 20px;
    }

    .social-icons a {
        font-size: 24px;
    }

    .about-me-container {
        flex-direction: column; /* Stack content vertically */
        text-align: center; /* Center-align the content */
    }

    .about-me-left,
    .about-me-right {
        width: 100%; /* Full width for each section */
        text-align: center; /* Center-align the content inside each section */
        margin: 0; /* Remove margin to center content */
    }

    /* Modify about-me section */
    .about-me-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .about-me-left img {
        max-width: 100%;
        height: auto;
    }

    /* Reduce font size for about-me summary */
    .about-me-summary {
        font-size: 16px;
    }

    /* Modify skill cards layout for mobile */
    .skills-section h2 {
        font-size: 24px;
    }

    .skill-cards {
        flex-direction: column;
    }

    .skill-card {
        flex-basis: 100%;
        margin: 10px 0;
    }

    .projects-container .card {
        max-width: 100%;
    }

    .projects-container .card .image {
        width: 100%;
        height: auto;
        top: 0;
    }

    .projects-container .card .content {
        top: -90px;
    }

    .connect ul {
        font-size: 18px;
    }

    .connect li {
        margin-right: 5px;
        margin-left: 5px;
    }
}
