body {
    overflow: hidden; /* Hide scrollbars */
}

/*--------------------
Leaderboard
--------------------*/
#leaderboard {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 30%;
    font-size: 20px;
    overflow: auto;
}